.archery-shoot {

}

.archery-shoot .archery-shoot-header {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.archery-shoot .archery-shoot-header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: none;
}

.archery-shoot .archery-shoot-header-top img {
    width: 50%;
    height: auto;
}

.archery-shoot .archery-shoot-header-top h3 {
    width: 50%;
    font-size: 65px;
    font-weight: 1000;
    font-family:'Lucida Sans bold', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: -50px;
    margin-left: -10px;
}

.archery-shoot .archery-shoot-header-bottom {
    display: flex;
    flex-direction: column;
    height: 270px;
    /* justify-content: space-between; */
    /* justify-content: center; */
} 

.archery-shoot .archery-shoot-header-bottom span {

}

.archery-shoot .archery-shoot-header-bottom #fourth-annual-text {
    color: #BC3D42;
    font-size: 50px;
    margin-left: auto;
    margin-bottom: 50px;
    text-shadow: 1px 0px 0 #BC3D42, 0 2px 0 #BC3D42,
    3px 0 0 #5c0c0f, 4px 0 0 #5c0c0f,
    5px 0 0 #5c0c0f, 6px 0 0 #5c0c0f,
    7px 0 0 #5c0c0f, 8px 0 0 #5c0c0f,
    9px 0 0 #5c0c0f, 10px 0 0 #5c0c0f,
    11px 0 0 #5c0c0f, 12px 0 0 #5c0c0f,
    13px 0 0 #5c0c0f, 8px 0 0 #5c0c0f,
    15px 0 0 #5c0c0f, 10px 0 0 #5c0c0f,
    17px 0 0 #5c0c0f, 12px 0 0 #5c0c0f,
    20px 0 30px black;
    transform: rotate(-5deg)
}

.archery-shoot .archery-shoot-header-bottom #msg-text-top {
    font-size: 90px;
    color: #fff;
    font-family: "Arial Black", Gadget, sans-serif;
    position: absolute;
}

.archery-shoot .archery-shoot-header-bottom #msg-text-container {
    margin-bottom: 55px;
    transform: rotate(-5deg)

}

.archery-shoot .archery-shoot-header-bottom #msg-text {
    font-size: 90px;
    color: #191b56;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 
        0px 0px 0 white,
        -1px 0px 0 #191B56,
        -2px 0px 0 #191B56,
        -3px 0px 0 #191B56,
        -4px 0px 0 #191B56,
        -5px 0px 0 #191B56,
        -6px 0px 0 #191B56,
        -7px 0px 0 #191B56,
        -8px 0px 0 #191B56,
        -9px 0px 0 #191B56,
        -10px 0px 0 #191B56,
        -11px 0px 0 #191B56,
        -12px 0px 0 #191B56,
        -13px 0px 0 #191B56,
        -14px 0px 0 #191B56,
        -15px 0px 0 #191B56,
        -16px 0px 0 #191B56,
        -17px 0px 0 #191B56,
        -18px 0px 0 #191B56,
        -19px 0px  0 #191B56,
        -20px 0px 19px rgba(10,18,255,0.6),
        -20px 0px 1px rgba(10,18,255,0.5),
        0px 0px 19px rgba(10,18,255,.2);
}

.archery-shoot .archery-shoot-header-bottom #memorial-text {
    font-size: 90px;
    color: #B21F27;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    text-shadow: 
        -1px 0px 0 #fff,
        1px 0px 0 #fff,
        0px 0px 0 #85161b,
        -3px 0px 0 #85161b,
        -4px 0px 0 #85161b,
        -5px 0px 0 #85161b,
        -6px 0px 0 #85161b,
        -7px 0px 0 #85161b,
        -8px 0px 0 #85161b,
        -9px 0px 0 #85161b,
        -10px 0px 0 #85161b,
        -11px 0px 0 #85161b,
        -12px 0px 0 #85161b,
        -13px 0px 0 #85161b,
        -14px 0px 0 #85161b,
        -15px 0px 0 #85161b,
        -16px 0px 0 #85161b,
        -17px 0px 0 #85161b,
        -18px 0px 0 #85161b,
        -19px 0px  0 #85161b,
        -20px 0px 19px #85161b,
        -20px 0px 1px #85161b,
        0px 0px 19px #85161b;
    transform: rotate(-5deg);
}

.archery-shoot .archery-shoot-header img {
    margin-top: -40px;
    height: 200px;
    width: auto;
}

.archery-shoot .archery-shoot-header #start-date-text {
    font-size: 30px;
    color: red;
    font-weight: 600px;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

/* ==================== */
/* Home Content Styling */
/* ==================== */

.home_content{

}

.home_content .prices-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home_content .prices-section #ticket-prices {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    background-color: yellow;
    width: 50%;
    padding: 5%;
    border-radius: 10px;
    border-bottom: 15px solid black;
    border-top: 15px solid black;
}

.price-text {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 800;
}

.home_content .prices-section #ticket-prices #mens-prices {
    display: flex;
    flex-direction: column;
}

.home_content .prices-section #event-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.home_content .prices-section #event-details #payback-text {
    font-size: 45px;
    font-weight: 1000;
}

.details-text {
    font-size: 35px;
    font-weight: 800;
    margin: 30px 0px;
}

.info-text-1 {
    color: black;
    font-size: 35px;
    font-weight: 800;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: rgba(10,18,255,0.6);
}

.info-text-1 strong {
    color: red;
}

.location-text {
    color: #32388B;
    font-size: 55px;
    font-weight: 900;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 0px #14004b;
}

.contact-text {
    color: black;
    font-size: 35px;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

.contact-text span {
    color: #A73235;
}

.silent-auction-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #323B8E;
}

.silent-auction-items span {
    font-size: 35px;
    font-weight: 800;
    color: white;
}

#sponsors-img {
    margin-top: 200px;
    width: 80%;
    margin: 0 auto;
    height: auto;
}

@media screen and (max-width : 960px){
    .home_content .prices-section {
        display: flex;
        flex-direction: column;
    }
    .home_content .prices-section #ticket-prices {
        width: 90%;
        margin-right: 20px;
        margin-left: 20px;
        border-radius: 10px;
        border-bottom: 15px solid black;
        border-top: 15px solid black;
    }
    .home_content .prices-section #event-details{
        margin-top: 100px;
    }
    .home_content .prices-section #event-details span{
        text-align: center;
    }
    .info-text-1 {
        padding: 0;
        margin: 0;
    }
    #event-details {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .silent-auction-items {
        display: flex;
        flex-direction: column;
    }
    .silent-auction-items span {
        padding: 10px;
    }
}
