/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* GALLERY!!!!!!!!!!!!!!!!!!!!!!!!! */
  body {
    /* padding: 30px 0; */
    position: relative;
  }
  
  .gallery {
    width: 600px;
    margin: auto;
    border-radius: 3px;
    overflow: hidden;
  }
  
  .img-c {
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    overflow: hidden;
  }
  
  .img-w {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform ease-in-out 300ms;
  }
  
  .img-w img {
    display: none;
  }
  
  .img-c {
    transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms;
  }
  
  .img-c:hover .img-w {
    transform: scale(1.08);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
  }
  
  .img-c.active {
    width: 100vh !important;
    height: 100vh !important;
    position: fixed;
    z-index: 2;
  }

  .img-c.active.positioned {
    left: 0 !important;
    top: 0 !important;
    transition-delay: 50ms;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-preview{
      background-color: rgba(4, 170, 109, 80%);
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      display: none;
  }

  #introblocks ul li {
    width: 30%;
  }

  /* 
  ///////////////////////////////////
                            HOME PAGE
  ///////////////////////////////////
  */
  #home-body {
    background-image: url('./images/homepage/meat_locker_backdrop.png'); 
    /* background-size: cover; 
    overflow-x: hidden; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position-y:center; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
    /* background: linear-gradient(324deg, #2e3093, #ed1c24); */
    /* background-size: 400% 400%; */
    /* -webkit-animation: BackgroundOverlay 10s ease infinite;
    animation: BackgroundOverlay 10s ease infinite; */
  }

@-webkit-keyframes BackgroundOverlay {
    0%{background-position:0% 38%}
    50%{background-position:100% 63%}
    100%{background-position:0% 38%}
}
@keyframes BackgroundOverlay {
    0%{background-position:0% 38%}
    50%{background-position:100% 63%}
    100%{background-position:0% 38%}
}
  #header {
    padding: 0px;
  }
  .header-text {
    font-size: 90px;
  }
  .home_nav {
    width: 100%;
    color: #FFFFFF;
    background-color: rgba(0,0,0,.35);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-sizing: border-box;
  }
  .home_header {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 400px;
  }
  .w-30 {
    width: 30%;
  }
  .w-40 {
    width: 40%;
  }
  .w-50 {
    width: 50%;
  }
  .w-60{
    width: 60%;
  }
  .w-70 {
    width: 70%
  }
  .home_header img{
    box-sizing: border-box;
    height: 80%;
    width: auto;
    padding: 10vw 10vh;
  }
  .polaroid a {
    width: 400px;
    height: 450px;
    background: #ffffff;
    display: inline-block;
    margin: 55px 75px 30px;
    padding: 15px 15px 30px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    z-index: 0;
    position: relative;
  }
  .polaroid a:after {
    color: #333;
    font-size: 25px;
    content: attr(title);
    position: relative;
    top: 15px;
  }
  .polaroid img {
    display: block;
    width: 390px;
    min-height: 300px;
    max-height: 380px;
  }
  .polaroid a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  }
  .tilt-10 {
    transform: rotate(10deg) !important;
  }
  .tilt-15 {
    transform: rotate(15deg);
  }
  .tilt-n10 {
    transform: rotate(-10deg);
  }
  .tilt-n15 {
    transform: rotate(-15deg);
  }
  .tilt-20 {
    transform: rotate(20deg);
  }
  .tilt-n20 {
    transform: rotate(-20deg);
  }
  .tilt-45 {
    transform: rotate(45deg);
  }
  .tilt-n45 {
    transform: rotate(-45deg);
  }
  .d-flex {
    display: flex;
  }
  .align-items-center {
    align-items: center;
  }
  .justify-content-center {
    justify-content: center;
  }
  .justify-content-between {
    justify-content: space-between;
  }
  .flex-wrap {
    flex-wrap: wrap
  }
  .flex-row {
    flex-direction: row;
  }
  .section-header {
    font-size: 80px;
    font-weight: 800;
    -webkit-text-stroke: 1px #ffffff;
    color: rgb(0, 0, 131);
  }
  .section-content {
    font-size: 26px;
    color: rgb(0, 0, 131);
    -webkit-text-stroke: 1px #555555;
    line-height: 40px;
  }

  /* ? ----------------------------------------------------------- */

  /* ?                         Mobile Styling                      */

  /* ? ----------------------------------------------------------- */
  @media screen and (max-width : 1200px){
    .home_content {
      display: flex;
      flex-direction: column;
    }
    .about-us {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
    .polaroid-1{
      width: 50%;
      margin-right: auto;
    }
    .polaroid-2{
      width: 50%;
      margin-left: auto;
    }
    .how-we-operate{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }
  @media screen and (max-width : 1200px){
    .home_header img {
      height: 50%;
      width: auto;
    }
    .polaroid-1{
      width: 100%;
    }
    .polaroid-2{
      width: 100%;
      margin-left: auto;
    }
    .home_nav #header ul li span {
      display: none;
    }
    .header-text {
      font-size: 55px;
    }
    .fundraiser {
      font-size: 60px;
    }
    .proceeds-text{
      text-align: center;
      padding: 0px 10px;
    }
    #introblocks{
      width: 100%;
      padding: 20px;
    }
    .raffle-items{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    #introblocks ul{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0;;
      padding: 10px 20px;
    }
    #introblocks ul li img{
      min-width: 100%;
      width: auto;
    }
    #introblocks ul li{
      width: 100%;
      padding: 10px;
      padding-bottom: 60px;
    }
    #stats {
      display: flex;
      flex-direction: column;
      align-items: center;

    }
  }