.first-place {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
}

#msg-text-top {
    font-size: 90px;
    color: rgb(199, 0, 0);
    font-family: "Arial Black", Gadget, sans-serif;
    position: absolute;
}

#msg-text-container {
    margin-bottom: 55px;
    transform: rotate(-5deg);
    border-bottom: 4px solid blue;
}

.contact_us_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgba(74, 228, 141,9);
    color: rgb(218, 218, 218);
    margin-top: 10px;
    max-width: 400px;
}

.contact_us_button a {
    color: rgb(218, 218, 218);
}

.contact_us_button i {
    font-size: 30px;
}

.contact_us_button strong {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.contact_us_button:hover {
    background: rgba(65, 195, 121, 1);
}

.contact_us_button:hover i {
    color: whitesmoke;
    transition: 1s ease-in-out;
    font-weight: 800;
    color: #FFF;
}

.contact_us_button:hover strong {
    color: #FFF;
}

#msg-text {
    font-size: 90px;
    color: #191b56;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 
        0px 0px 0 white,
        -1px 0px 0 #191B56,
        -2px 0px 0 #191B56,
        -3px 0px 0 #191B56,
        -4px 0px 0 #191B56,
        -5px 0px 0 #191B56,
        -6px 0px 0 #191B56,
        -7px 0px 0 #191B56,
        -8px 0px 0 #191B56,
        -9px 0px 0 #191B56,
        -10px 0px 0 #191B56,
        -11px 0px 0 #191B56,
        -12px 0px 0 #191B56,
        -13px 0px 0 #191B56,
        -14px 0px 0 #191B56,
        -15px 0px 0 #191B56,
        -16px 0px 0 #191B56,
        -17px 0px 0 #191B56,
        -18px 0px 0 #191B56,
        -19px 0px  0 #191B56,
        -20px 0px 19px rgba(10,18,255,0.6),
        -20px 0px 1px rgba(10,18,255,0.5),
        0px 0px 19px rgba(10,18,255,.2);
}

.first-place-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-place-details span {
    color: black;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    line-height: 45px;
    width: 50%;
}

.first-place-details ul {
    font-size: 30px;
    font-weight: 700;
    list-style: none;
    color: grey;
}

.first-place-details ul li{
    margin-bottom: 20px;
    line-height: 35px;
}

.fishing-trip {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: space-around;
}

.second-third-place {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.second-third-place strong {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}

.second-third-place .second-place {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.second-third-place .second-place .second-place-text{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    line-height: 45px;
    width: 100%;
    color: darkblue;
}

.second-third-place .third-place {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.second-third-place .third-place .third-place-text {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    line-height: 45px;
    width: 100%;
    color: darkblue;
}

.how-to-order {
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width : 960px){
    .second-third-place {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .fishing-trip {
        flex-direction: column;
    }
    .first-place-details span {
        width:90%;
    }
    .second-third-place .second-place {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .second-third-place .third-place {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}